/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@media screen and (min-width: 500px) {
  body {
    --fontsize: 14px;
  }
  h1 {
    --headersize1: 20px;
  }
  h2 {
    --headersize2: 18px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    --fontsize: 12px;
  }
  h1 {
    --headersize1: 18px;
  }
  h2 {
    --headersize2: 16px;
  }
}

@media screen and (min-width: 1500px) {
  body {
    --fontsize: 10px;
  }
  h1 {
    --headersize1: 16px;
  }
  h2 {
    --headersize2: 14px;
  }
}

body {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(var(--fontsize) + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}

h1 {
  font-size: calc(var(--headersize1) + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}

h2 {
  font-size: calc(var(--headersize2) + (26 - 14) * ((100vw - 320px) / (1600 - 300)));
}

/* NOT BAD - may need love */
body {
  background-color: #525252;
}

#main {
  background-color: #333;
  height: 100vh;
  margin-left: 3%;
  margin-right: 3%;
  color: #fff;
}

#mainHeader {
  padding: 3%;
  background: darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
}

.leftColumn {
  border: 1px solid red;
}

.rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textContent {
  color: white;
}
/*# sourceMappingURL=styles.css.map */